.w-message {
    display: flex;
    align-items: center;
    margin-top: 35px;
    width: 100%;
}

.icons-size {
    height: 30px;
    width:  30px;
}

.home-bannner {
    display: flex;
    align-items: center;
    margin-top: 35px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.orange-message-box {
    border: 2px solid #FF4C00;
    border-radius: 14px;
    background-color: #ED8D14;
    color:#FFF;

    text-align: center;
    width: 94%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.w-100 {
    width: 100%;
}

.w-90 {
    display:flex;
    width: 94%;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}


.al-center {
    text-align: center;
}

.img-loading {
    width: 250px !important;
    height: 80px;
    
}

.boton-volver {
    background-color: #ED8D14;
    color:#FFF;
}

.modo-oscuro {
    background-color: #031525;
    color: #D3E3FD;
}

.modo-claro {
    background-color: #FFF;
    color: black;
}