.w-message {
    display: flex;
    align-items: center;
    margin-top: 35px;
    width: 100%;
}

.icons-size {
    height: 30px;
    width:  30px;
}

.home-bannner {
    display: flex;
    align-items: center;
    margin-top: 35px;
    width: 100%;
    text-align: center;
    justify-content: center;
}