.w-message {
    display: flex;
    align-items: center;
    margin-top: 35px;
    width: 100%;
}

.icons-size {
    height: 30px;
    width:  30px;
}

.home-bannner {
    border: 3px solid #FF4C00;
    display: flex;
    align-items: center;
    margin-top: 35px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.orange-message-box {
    border: 2px solid #FF4C00;
    border-radius: 14px;
    background-color: #ED8D14;
    color:#FFF;

    text-align: center;
    width: 94%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.w-100 {
    width: 100%;
}

.w-90 {
    display:flex;
    width: 94%;
    margin-left: auto !important;
    margin-right: auto !important;
    text-align: center;
}


.al-center {
    text-align: center;
}

.img-loading {
    width: 250px !important;
    height: 80px;
    
}

.boton-volver {
    background-color: #ED8D14;
    color:#FFF;
}

.modo-oscuro {
    background-color: #031525;
    color: #D3E3FD;
}

.modo-claro {
    background-color: #FFF;
    color: black;
}

.div_add_cart {
    border: 3px solid #FF4C00;
    width: 80%;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}

.div_add_cart_gretting  {
    width: 100%;
    text-align: center;
    padding-top: 30px; 
    font-size: 24px;   
    font-weight: bolder;
}

.div_add_cart_img {
    width: 20%;
    padding-left: 50px; 
}

.bckcolor_left {
    background-color: #FE9834;   

}

.bckcolor_right {
    background-color: #FF6600;   

}

.div_add_cart_data {
    color:white;
    font-size: 24px;
    font-weight: bolder;
    width: 80%;
    padding-left: 50px; 
    padding-top: 10px; 
}

.div_cart_img {
    width: 20%;
    padding-left: 150px !important;  
}

.div_cart_data {
    color:blue;
    font-size: 16px;
    font-weight: bolder;
    width: 80%;
    padding-left: 50px; 
    padding-top: 10px; 
}

.div_container_flex {
    display: flex !important;
}

.top-padding100 {
    padding-top:100px;
    width: 100%;
}

.w-40 {
    width: 40% !important;
    margin-top: 40px;
    padding-top: 40px;


}

.w-40 label {
    width: 100%;
    text-align: left;
    font-weight: bold;
    margin-top: 20px;
}